 <!DOCTYPE html>
<html lang="en">
<head>
	<title>todoApp:login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    	div{
    		width: 400px;
    		margin-left: 5px;
    		float: left;
    		 
    	}
    	input{
    		border:1px solid black;
    	}
      #profileimg{
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
      #al{
        z-index: 10;
        position: absolute;
        top: 0px;
        width: 100%;
      }
    </style>
</head>
<body >
  
  
<div>
	<ol>
  	<li>Name:   <%=user.username %></li>
  	<li>Email:  <%=user.email %></li>
  	<li>Gender: <%=user.gender %></li>
  	<li>Phone:  <%=user.phone %></li>
  	<img id="profileimg"  src="<%= imagesrc.src %>" alt="uimage">

  </ol>
</div>
 

<div>
  <h1>Your Tasks</h1>
  <a href="/add/task" class="btn btn-info">New Task</a>
  <a href="/add/task/completed" class="btn btn-info">Old Tasks</a>
  <a href="/post/all/taskUpdate" class="btn btn-info">Update Tasks</a>
  <a href="/logout" class="btn btn-info">Logout</a>

  
  <ol>
    <li>Date task is added </li>
    <li>Heading</li>
    <li>Message</li>
    <li>task should be completed by Date </li>
    <li>Send Mail about Task added</li>

  </ol>
</div>


<div>
  	<h3>user Update</h3>
  	  <form action="/profile/update/username" method="POST">
  	  	<label>Username</label><input type="text" name="username"><br>
  	  	<input type="submit" value="update" name=""><br>  	
  	  </form>
  	    <form action="/profile/update/email" method="POST">
  	  	<label>Email</label><input type="email" name="email"><br>
  	  	<input type="submit" value="update" name=""><br>  	
  	  </form>
  	    <form action="/profile/update/phone" method="POST">
  	  	<label>Phone</label><input type="phone" name="phone"><br>
  	  	<input type="submit" value="update" name=""><br>  	
  	  </form>
  	    <form action="/profile/update/password" method="POST">
  	  	<label>Password</label><input type="password" name="password"><br>
  	  	<input type="submit" value="update" name=""><br>  	
  	  </form>
  	   <form action="/profile/update/gender" method="POST">
  	  	   <label class="radio inline"> 
           <input type="radio" name="gender" value="male" checked><span> Male </span> 
           </label>
           <label class="radio inline">  
           <input type="radio" name="gender" value="female"><span>Female </span> 
           </label><br>
  	  	<input type="submit" value="update" name=""><br>  	
  	  </form>
  	  <form action="/update/profile/images" method="post" enctype="multipart/form-data">
     <input type="file" name="updateprofileimgage" required/>
     <button type="submit" class="btn btn-info">upload</button>
     </form>
</div>
   





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>